# Environments
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Models and Data
models/*.joblib
!models/.gitkeep
!backend/models/phishing_url_model_combined.joblib
!backend/models/scam_message_model.joblib
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*
!data/splits/.gitkeep
data/reports/*
!data/reports/.gitkeep

# Database Backups
migration/mysql_backup/*
!migration/mysql_backup/.gitkeep
!data/splits/.gitkeep
data/reports/*
!data/reports/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
