fastapi
uvicorn[standard]
sqlalchemy
pymysql
passlib[bcrypt]
pyjwt
python-multipart
pydantic-settings
scikit-learn
pandas
numpy
joblib
pytest
psycopg2-binary>=2.9.0
google-auth
requests

python-jose

email-validator
